.box-item{
    margin-top: 40px;
    margin-bottom: 20px;
}
.txt_desc{
    margin-top: 20px;
}
.txt_h5{
    margin-top: 20px;
    text-align: center;
}
.box_Status{
    margin-top: 10px;
    margin-bottom: 10px;
}
.alert{
    color: red;
}
.img_price{
    max-width:80% ;
    max-height: 80%;
}