.background-image-heading{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; 
  
  width: 100%;
  

  .blurred-background-title {
    text-align: center;
    word-wrap: break-word;
    backdrop-filter: blur(5px) contrast(35%) brightness(1.5); 
    color: var(gray900);
    border-radius: 5px;
    padding: 2rem 4rem;
    height: fit-content;
    margin: 4rem;
    max-width: 100%;
  
  }
}

.subtitle-gradient{
  display: flex;
  align-items: center;
  padding-left: 2rem;
  margin: 2rem 0;
  background: rgb(244,29,26);
  background: linear-gradient(90deg, rgba(244,29,26,1) 20%, rgba(255,255,255,0) 100%);
  h3 {
    text-transform: uppercase;
    color: var(--bs-grey50);
    font-family: "roboto-bold";
    margin: 0.4rem 0;
  }
}


.button-outline{
  color: var(--bs-primary700)!important;
  background-color: transparent!important;
  background-image: none!important;
  border-color: var(--bs-primary700)!important;

  i{
    margin:0 0.4rem;
  }

  &:hover{
    background-color: var(--bs-primary700)!important;
    color: var(--bs-grey50)!important;
  }
}


.button-fill{
  color: var(--bs-grey50)!important;
  background-color: var(--bs-primary700)!important;
  border-radius: 0.5rem !important ;
  i{
    margin:0 0.4rem;
  }
  &:hover{
    background-color: var(--bs-primary900)!important;
  }
}
