<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid navbar-container">
    <div class="burgermenu-row-reverse">
      <img class="logo-navbar" src="../assets/img/logo.png" alt="NOME_PROGGET">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link active" aria-current="page" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="offerts">Offerts</a>
        </li>
        
        </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item d-flex ">
              <a class="nav-link active" aria-current="page" href="#">Login</a>
            </li>
            <li class="nav-item d-flex ">
                <a class="nav-link active" aria-current="page" href="#">Registrazione</a>
            </li>
          </ul>     
    </div>

    
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
        </ul>
    

  </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer mt-auto">
  <div class="container-div-footer ">
      <div class="columns-div">
      <h6>Noi</h6>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  
    <div  class="columns-div">
      <h6>Menu</h6>
      <ul>
        <li><a class="dropdown-item"  href="#">Il nostri : i soci e partner</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item"  href="#">Amministrazione trasparente</a></li>        
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Linkedin <i class="bi bi-arrow-up-right-square external-link"></i></a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Privacy Policy</a></li>
        <li><hr class="dropdown-divider"></li>
      </ul>
    </div>
    
    <div  class="columns-div">
      <h6>RESTA IN CONTATTO CON NOI</h6>
      <div>
        <i class="bi bi-facebook i-contatti-social"></i>
        <i class="bi bi-youtube i-contatti-social"></i>
        <i class="bi bi-envelope i-contatti-social"></i>
        <i class="bi bi-linkedin i-contatti-social"></i>
        <i class="bi bi-whatsapp i-contatti-social"></i>
        <i class="bi bi-instagram i-contatti-social"></i>
      </div>
    </div>
    
    <div  class="columns-div">
      <h6>I NOSTRI CONTATTI</h6>
      <h6>Pinco lorem</h6>
      
     
    
      <span>
        C.F. 32131231
      </span>
  
      <span> <i class="bi bi-telephone-fill"></i> +3123142412 </span>
      <span> <i class="bi bi-envelope-fill"></i> PEC: dasddsadsad@pec.it </span>
    </div>
  </div>
  
  </footer>