<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid navbar-container">
    <div class="burgermenu-row-reverse">
     <img class="logo-navbar" src="../assets/img/logo.png"  alt="Logo">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link active" aria-current="page" href=" ">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="offerts">Offerte di Parco</a>
        </li>
      
        </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item d-flex ">
              <a class="nav-link active" aria-current="page" href="#">Login</a>
            </li>
            <li class="nav-item d-flex ">
                <a class="nav-link active" aria-current="page" href="#">Registrazione</a>
            </li>
          </ul>
          
       
        
      
    </div>

    
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
        </ul>
    

  </div>
</nav>
<router-outlet></router-outlet>
