<div class="container-fluid">
  <div *ngFor="let s of offerts" class="card mb-3 card-box">
    <button type="button" class="btn btn-light" value="s.id" routerLink="/dettaglio/{{s.id}}">
      <div class="row g-0">
        <div class="col-md-4">

          <img src="{{s.img_url}}" class="img-fluid rounded-start" alt="Una imagine">

        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h2 class="card-title">Localita: {{s.location}}</h2>

            <div class="row">
              <div class="col-md-6 txt_h5">
                <h5>Attrazioni: {{s.attraction}}</h5>
              </div>
              <div class="col-md-6  txt_h5">
                <h5>Interesse: {{s.interest_type}} </h5>
              </div>
            </div>
              <div class="row justify-content-center">
                <div class="col-md-6 txt_h5">
                  <h3>Status </h3>
                </div>
              </div>
            <div class="row">
              <div *ngIf="s.issues;else notisues">
                <h3 class="alert">Chiuso</h3>
              </div>
              <ng-template #notisues>
                <div class="col-md-6 txt_h5">
                  <h5>Popularita ultima ora: {{s.average_stay}} </h5>
                  <h5>Ora di apertura: {{s.time_open}} </h5>
                </div>
                <div class="col-md-6 txt_h5">
                  <h5>Persone presente: {{s.persone_present}} </h5>
                  <h5>Ora di Chiusura: {{s.time_close}} </h5>
                </div>
               

              </ng-template>

            </div>


            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </button>
  </div>
</div>
