.card-img-top{
    max-width: 600px;
    height: 150px;
}
.txt_title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box_card{
    border: 2px solid gray;
    border-radius: 15px;
}
.img_box{
    border-radius: 15px;
    margin: 5px;
}